<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.punch.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.punch.entity.UserRole">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="roleId" column="role_id" />
        <result property="createTime" column="create_time" />
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM user_role WHERE id = #{id}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM user_role WHERE user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.punch.entity.UserRole">
        INSERT INTO user_role (user_id, role_id, create_time)
        VALUES (#{userId}, #{roleId}, #{createTime})
    </insert>
    <delete id="deleteByUserId">
        DELETE FROM user_role WHERE user_id = #{userId}
    </delete>
    <delete id="deleteById">
        DELETE FROM user_role WHERE id = #{id}
    </delete>
</mapper>
